.icons [data-theme="dark"] {
    filter: invert(1);
}

p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
.changelog-margin {
  margin-bottom: 1em;
}
.content-area {
  margin: auto;
  justify-content: space-between;
}
.changelog {
  text-align: left;
}


.rtf {
    &.open {
      .rtf--mb {
        > * {
          transform-origin: center center;
          transform: rotate(45deg) !important;
          transition: ease-in-out transform 0.3s !important;
        }
      }
    }
  }
  
  .rtf--mb__c {
    padding: 15px !important;
    margin: -15px !important;
  }
  
 